#tools h1 {
  font-weight: 700;
}

#tools ul {
  display: flex;
  width:100%;
  flex-wrap:wrap;
  align-items:flex-start;
  margin-top: 10px;
}

#tools ul li {
  width:33vw;
  height:33vw;
  margin-right: 0.5%;
  margin-bottom: 0.5%;
  box-sizing: border-box;
  border:1px solid #f9f9f9;
}

#tools ul li:nth-child(3n){
  margin-right:0;
}

#tools ul li a {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing:border-box;
  padding-top:20%;
  text-decoration: none;
  color:#636363;
}
#tools ul li a i {
  font-size: 50px;
}

#tools h3 {
  font-size:18px;
  font-weight:500;
  padding-left:10px;
}


/* 颜色区域 */
#tools ul li a i.dan {
  color:#FF5E46;
}
#tools ul li a i.goods {
  color:#FFCD0C;
}
#tools ul li a i.hero {
  color:#569DF7;
}
#tools ul li a i.value {
  color:#7591FE;
}
#tools ul li a i.talent {
  color:#FB6646;
}
#tools ul li a i.ability {
  color:#63C939;
}
#tools ul li a i.summoner {
  color:#5D6782;
}
#tools ul li a i.recommend {
  color:#FF6644;
}